/* ----- User's Collection List ----- */
.collectionTitle{
  text-align: center;
  font-size: 40px;
  color: darkblue;
  margin-bottom: 14px;
  margin-top: 35px;
}

.collectionList, .set{
  background-color: #070552ff;
  border: 6px solid #ffce00ff;
  border-radius: 5px;
  width: 95%;
  margin: auto;
  padding: 2px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.collectionList li, .set li{
  width: 106px; 
  margin: 6px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.collectionList img, .set img{
  width: 0px;
}

.set{
  margin-bottom:10px;
  max-width: 95%;
  width:fit-content;
  box-sizing: border-box;
  display: none;
}

.selectButton{
  margin-left: 10px;
  margin-bottom: 16px;
  margin-top: 5px;
  border: black 2px solid;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.selectButton:hover {
  border: white 2px solid;
  background-color: blue;
}

/* ----- Enlarged Card ----- */
.large{
  margin: auto;
  margin-top: 25px;
  width: 300px;
  margin-bottom: 25px;
  display: none;
}
