/* ----- User's Collection List ----- */
.collectionTitle{
  text-align: center;
  font-size: 40px;
  color: darkblue;
  margin-bottom: 14px;
  margin-top: 35px;
}

.collectionList, .set{
  background-color: #070552ff;
  border: 6px solid #ffce00ff;
  border-radius: 5px;
  width: 95%;
  margin: auto;
  padding: 2px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.collectionList li, .set li{
  width: 106px; 
  margin: 6px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.collectionList img, .set img{
  width: 0px;
}

.set{
  margin-bottom:10px;
  max-width: 95%;
  width:fit-content;
  box-sizing: border-box;
  display: none;
}

button{
  margin-left: 10px;
  margin-bottom: 16px;
  margin-top: 5px;
  border: black 2px solid;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

button:hover {
  border: darkblue 2px solid;
  background-color: blue;
}

/* ----- Trade Page Selector ----- */
.tradePageSelect {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  color: darkblue;
  border: 2px solid red; /* Red border */
  border-radius: 5px; /* Rounded corners */
  overflow: hidden; /* Ensures the inner elements are clipped within the rounded corners */
  width: 50%; /* Adjust the width of the switch */
  margin: 0 auto; /* Center the container */
}
.tradePageSelect a{
  text-decoration: none;
}

.pageSelected {
  background-color: blue; /* Blue background for the selected side */
  color: white; /* White text */
  padding: 10px 20px;
  margin: 0;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border: none;
  width: 50%;
}

.pageNot {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 0;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border: none;
  width: 50%;
}
.pageNot:hover {
  background-color: darkblue;
}

/* ----- Enlarged Card ----- */
.large{
  margin: auto;
  margin-top: 25px;
  width: 300px;
  margin-bottom: 25px;
  display: none;
}
